/* Custom */
.form-main{
    width: 100%;
    height: 100%;
}
.form-container{
    height: 95%;
    width: 95%;

    position: absolute;
    padding-right: 2.5%;
    top: 2.5%;
    left: 2.5%;
}
.form-scrollable{
    height: 95%;
    width: 95%;
    /*
    position: absolute;
    padding-right: 2.5%;
    top: 2.5%;
    left: 2.5%;*/

    overflow-y: auto;
    overflow-x: hidden;
}
.form-label-container{
    width: 25%;
}
.form-input-container{
    width: 75%;
}
.form-input{
    width: 100%;
}